#google-admanager-rules-admin-form td {
  vertical-align: top;
}

#google-admanager-rules-admin-form .item-list ul {
  margin: 0;
}

#google-admanager-rules-admin-form .item-list ul li {
  padding-top: 0;
  padding-bottom: 0;
}
